*, *:before, *:after{
  box-sizing: border-box;
}
div {
  text-align: center;
  border: 1px solid;
  padding: 10px
}

.header {
  position: relative;
  height: 50px;
  margin: 10px;
}

.body {
  position:relative;
  height: 450px;
  margin-left: 10px;
  margin-right: 10px;
}
.footer {
  position: relative;
  height:225px;
  margin: 10px;
}
.col-4 {
  margin-top: 47px;
  margin-left: 10px;
  height: 50%;
  width: 34.5%;
}
.col-6 {
  text-align: center;
  height: 90%;
  width: 49.5%;
  margin-top: 20px;
  float: left;
}
.col-8 {
  height: 85%;
  width: 64%;
  margin-top: 30px;
  /*margin-right: 20px*/
}
.helper{
  height: 25%;
}
.smallBox{
  width: 8%;
  height: 80%;
  margin-top:   1%;
  margin-left: 2px;
  float: left;
}
.left{
  float: left;
}
.right{
  float: right ;
}
